/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;


.p-inputtext:enabled:focus{
    border-color:  #1900FE !important;
    box-shadow: 0 0 0 1px  #1900FE !important;
}

.p-dropdown:not(.p-disabled).p-focus{
    border-color:  #1900FE !important;
    box-shadow: 0 0 0 1px  #1900FE !important;
}